
#content{
    width:100%;
    display: flex; flex-direction:column; align-items: flex-start;
    background-color: #2a9d8f;
    margin: 100px;
    h2{
        color:#e9c46a;
        font-size: 28px;
    }
    img{
        margin: 0 auto;
        height: 80%;
        width: 80%;
    }
    ul{
        width: 100%;
        text-align: left;
        li{
            display: inline-block;
            background-color: #e9c46a; color: #FFF;
            a{
                display: block;
                padding: 10px;
            }
        }
        li:hover a{
            background-color: #f4a261;
            color:#000;
        }
    }
    p{
        line-height: 1.5;
        font-size: 20px;
        
    }
    .home{
        /* Used to position the left vertical line */
        position: relative;
        top: 0;
        text-align: 50px;
        left:100px;
        width:80%; height: 100vh;
        display: flex;  justify-content: space-around; align-items: center; flex-wrap: wrap;
        .grid-3{
            background-color: #e9c46a;
            padding: 30px;margin: 10px;
            font-size:30px;
        }

        .from{
            font-size: 20px;
            padding-right: 100px;
            padding: 10px;
        }
    }

    .grid-1{
        width:calc(100%-50px);
        margin-top: 10px;margin-bottom: 10px;
        
        .countpart{
            width:100%; 
            background-color: #e76f51;
            color:white;
            font-size: 28px;
        }
        
        /*不同感染源的排列*/
        .casepart{
            width:100%;
            display:flex; flex-direction: column; justify-content: flex-start;
            .cases{ 
                /*border:solid 1px black;*/
                display: flex; justify-content: flex-start; align-items:flex-start;
                position:relative; left:40px;
                .caseabord{
                    /*padding: 50px 0;*/
                    /*border:solid 1px red;*/
                    width: 350px; height:100px;
                    margin:50px 0px 50px 0px;
                    display: flex; justify-content: flex-start; align-items: center;
                    .point{
                        border-radius: 2px;
                        width: 30px; height: 30px;
                        background-color: #e9c46a; 
                    }
                    .line{
                        width: 80px; height:10px;
                        background-color: #e9c46a;
                    }
                    .num{
                        width: 50px; height: 150px;
                        font-size: 24px; font-weight: 900;
                        background-color: #e9c46a;
                        display:flex;flex-direction: column; justify-content: center;align-items: center;
                    }
                    ul{  
                        width: 150px; height:150px; 
                        background-color: #e9c46a;
                        display:flex;flex-direction: column; justify-content: center;align-items: flex-start;
                        li {
                            line-height: 1.5;
                        }
                    }
                }
                .caseabord2{
                    /*padding: 50px 0;*/
                    /*border:solid 1px red;*/
                    width: 350px; height:100px;
                    margin:50px 0px 50px 0px;
                    position: relative; left:-35px;
                    display: flex; justify-content: flex-start; align-items: center;
                    .point{
                        border-radius: 2px;
                        width: 30px; height: 30px;
                        background-color: #e9c46a; 
                    }
                    .line{
                        width: 80px; height:10px;
                        background-color: #e9c46a;
                    }
                    .num{
                        width: 50px; height: 150px;
                        font-size: 24px; font-weight: 900;
                        background-color: #e9c46a;
                        display:flex;flex-direction: column; justify-content: center;align-items: center;
                    }
                    ul{  
                        width: 150px; height:150px; 
                        background-color: #e9c46a;
                        display:flex;flex-direction: column; justify-content: center;align-items: flex-start;
                        li {
                            line-height: 1.5;
                        }
                    }
                }
                .caselocal{
                    width: 350px; height:100px;
                    position: relative; left:-35px;
                    margin:50px 0px 50px 0px;
                    display: flex; justify-content: flex-start; align-items: center;
                    .point{
                        border-radius: 2px;
                        width: 30px; height: 30px;
                        background-color: #f4a261; 
                    }   
                    .line{
                        width: 80px; height:10px;
                        background-color: #f4a261;
                    }
                    .num{
                        width: 50px; height: 150px;
                        font-size: 24px; font-weight: 900;
                        background-color: #f4a261;
                        display:flex;flex-direction: column; justify-content: center;align-items: center;
                    }
                    ul{  
                        width: 150px; height:150px; 
                        background-color: #f4a261;
                        display:flex;flex-direction: column; justify-content: center;align-items: flex-start;
                        li {
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}




