.mwt_slider_scroll{
    top: 10px;
    left: -100px;
    width:200px; 
    position:fixed;
    z-index:9999;
   }
.mwt_slider_content{
    background:#264653;
    color:#ffffff;
    text-align:center;
    padding-top:10px;
    height:370px;
    display: flex; 
    top: 80px;
    left:0px;
    position: absolute;
}
.mwt_tab {
    position:relative;
    top:80px;
    right:-100px;
    width:40px;
    height:370px;
    background:#264653;
    color:#ffffff;
    text-align:center;
    padding:100px 10px 0 10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-right-radius:10px;
   -webkit-border-bottom-right-radius:10px; 
    span {
        display:block;
        height:18px;
        padding:1px 0;
        line-height:18px;
        text-transform:uppercase;
        font-size:18px;
    }
}   
   
.all_month{
    width: 30px; height: 20px;
    color: #264653;
    margin: 10px;
    p{
        color: #e9c46a;
        margin: 5px;
    }
    ul{
        widows: 50px; height: 15px;
        text-align: center;
        li{
            background-color: #e9c46a;
            padding: 2px; margin: 2px;
            display: block;  
            a{
                display: block;
            }
        } 
        li:hover{
            background-color: #f4a261;
            color: #ffffff; 
        }
    }
} 

   
