/*$themecolor:#e9c46a,#2a9d8f,#264653,#f4a261,#e76f51;*/

html{
    background-color: #2a9d8f;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftline{
    border-right: 0.7em solid #e9c46a;
    /* Positioned at the left */
    left: 50px;
    position: fixed;
    top: 0px;
    /* Take full height */
    height: 100%;
}

