@charset "UTF-8";
html, body, div, ul, ol, li, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  vertical-align: bottom;
  font-family: sans-serif;
  text-align: justify;
}

#content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #2a9d8f;
  margin: 100px;
}

#content h2 {
  color: #e9c46a;
  font-size: 28px;
}

#content img {
  margin: 0 auto;
  height: 80%;
  width: 80%;
}

#content ul {
  width: 100%;
  text-align: left;
}

#content ul li {
  display: inline-block;
  background-color: #e9c46a;
  color: #FFF;
}

#content ul li a {
  display: block;
  padding: 10px;
}

#content ul li:hover a {
  background-color: #f4a261;
  color: #000;
}

#content p {
  line-height: 1.5;
  font-size: 20px;
}

#content .home {
  /* Used to position the left vertical line */
  position: relative;
  top: 0;
  text-align: 50px;
  left: 100px;
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content .home .grid-3 {
  background-color: #e9c46a;
  padding: 30px;
  margin: 10px;
  font-size: 30px;
}

#content .home .from {
  font-size: 20px;
  padding-right: 100px;
  padding: 10px;
}

#content .grid-1 {
  width: calc(100%-50px);
  margin-top: 10px;
  margin-bottom: 10px;
  /*不同感染源的排列*/
}

#content .grid-1 .countpart {
  width: 100%;
  background-color: #e76f51;
  color: white;
  font-size: 28px;
}

#content .grid-1 .casepart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#content .grid-1 .casepart .cases {
  /*border:solid 1px black;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  left: 40px;
}

#content .grid-1 .casepart .cases .caseabord {
  /*padding: 50px 0;*/
  /*border:solid 1px red;*/
  width: 350px;
  height: 100px;
  margin: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caseabord .point {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background-color: #e9c46a;
}

#content .grid-1 .casepart .cases .caseabord .line {
  width: 80px;
  height: 10px;
  background-color: #e9c46a;
}

#content .grid-1 .casepart .cases .caseabord .num {
  width: 50px;
  height: 150px;
  font-size: 24px;
  font-weight: 900;
  background-color: #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caseabord ul {
  width: 150px;
  height: 150px;
  background-color: #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#content .grid-1 .casepart .cases .caseabord ul li {
  line-height: 1.5;
}

#content .grid-1 .casepart .cases .caseabord2 {
  /*padding: 50px 0;*/
  /*border:solid 1px red;*/
  width: 350px;
  height: 100px;
  margin: 50px 0px 50px 0px;
  position: relative;
  left: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caseabord2 .point {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background-color: #e9c46a;
}

#content .grid-1 .casepart .cases .caseabord2 .line {
  width: 80px;
  height: 10px;
  background-color: #e9c46a;
}

#content .grid-1 .casepart .cases .caseabord2 .num {
  width: 50px;
  height: 150px;
  font-size: 24px;
  font-weight: 900;
  background-color: #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caseabord2 ul {
  width: 150px;
  height: 150px;
  background-color: #e9c46a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#content .grid-1 .casepart .cases .caseabord2 ul li {
  line-height: 1.5;
}

#content .grid-1 .casepart .cases .caselocal {
  width: 350px;
  height: 100px;
  position: relative;
  left: -35px;
  margin: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caselocal .point {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background-color: #f4a261;
}

#content .grid-1 .casepart .cases .caselocal .line {
  width: 80px;
  height: 10px;
  background-color: #f4a261;
}

#content .grid-1 .casepart .cases .caselocal .num {
  width: 50px;
  height: 150px;
  font-size: 24px;
  font-weight: 900;
  background-color: #f4a261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .grid-1 .casepart .cases .caselocal ul {
  width: 150px;
  height: 150px;
  background-color: #f4a261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#content .grid-1 .casepart .cases .caselocal ul li {
  line-height: 1.5;
}

.mwt_slider_scroll {
  top: 10px;
  left: -100px;
  width: 200px;
  position: fixed;
  z-index: 9999;
}

.mwt_slider_content {
  background: #264653;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 80px;
  left: 0px;
  position: absolute;
}

.mwt_tab {
  position: relative;
  top: 80px;
  right: -100px;
  width: 40px;
  height: 370px;
  background: #264653;
  color: #ffffff;
  text-align: center;
  padding: 100px 10px 0 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

.mwt_tab span {
  display: block;
  height: 18px;
  padding: 1px 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 18px;
}

.all_month {
  width: 30px;
  height: 20px;
  color: #264653;
  margin: 10px;
}

.all_month p {
  color: #e9c46a;
  margin: 5px;
}

.all_month ul {
  widows: 50px;
  height: 15px;
  text-align: center;
}

.all_month ul li {
  background-color: #e9c46a;
  padding: 2px;
  margin: 2px;
  display: block;
}

.all_month ul li a {
  display: block;
}

.all_month ul li:hover {
  background-color: #f4a261;
  color: #ffffff;
}

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 320px) {
  header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #264653;
    color: #FFF;
    z-index: 100;
  }
  header .logo {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
  }
  header nav {
    width: 100%;
    padding: 10px;
    float: none;
  }
  header nav ul {
    width: 100%;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    display: block;
    padding: 10px;
  }
  header {
    position: relative;
  }
  header #hamg {
    width: 2em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 20;
  }
  header #hamg *[class^=ham] {
    width: 100%;
    height: 2px;
    background-color: #264653;
    position: absolute;
  }
  header #hamg .hamT {
    top: 0;
    background-color: #FFF;
  }
  header #hamg .hamM {
    top: calc(1em / 2 - 1px);
    background-color: #FFF;
  }
  header #hamg .hamB {
    bottom: 0;
    background-color: #FFF;
  }
  .grid-1 {
    width: 100%;
  }
  .grid-2 {
    width: 100%;
  }
  .grid-3 {
    width: 100%;
  }
  .grid-4 {
    width: 100%;
  }
  .grid-5 {
    width: 100%;
  }
  .grid-6 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .grid-2 {
    width: calc(100% / 2);
  }
  .grid-3 {
    width: calc(100% / 2);
  }
  .grid-4 {
    width: calc(100% / 2);
  }
  .grid-5 {
    width: calc(100% / 2);
  }
  .grid-6 {
    width: calc(100% / 2);
  }
}

@media only screen and (min-width: 1024px) {
  /* @include menupc; */
  nav {
    display: block;
  }
  header {
    width: 100%;
    position: fixed;
    background-color: #264653;
    color: #FFF;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 3px #000;
            box-shadow: 3px 3px 3px #000;
  }
  header .logo {
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    float: left;
  }
  header nav {
    width: 50%;
    padding: 10px;
    float: right;
  }
  header nav ul {
    width: 100%;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
  }
  header nav ul li a {
    display: block;
    padding: 10px;
  }
  header nav ul li:hover a {
    background-color: #f4a261;
    color: #000;
  }
  #hamg {
    display: none;
  }
  .grid-3 {
    width: calc(100% / 3.5);
  }
  .grid-4 {
    width: calc(100% / 3.5);
  }
  .grid-5 {
    width: calc(100% / 3.5);
  }
  .grid-6 {
    width: calc(100% / 3.5);
  }
}

@media only screen and (min-width: 1366px) {
  .grid-4 {
    width: calc(100% / 4);
  }
  .grid-5 {
    width: calc(100% / 5);
  }
  .grid-6 {
    width: calc(100% / 6);
  }
}

@media only screen and (min-width: 1440px) {
  .grid-6 {
    width: calc( 100% / 4);
  }
}
/*# sourceMappingURL=style.css.map */