$lightcolors: white, pink, orange,  lightyellow, yellow, lightgreen, lightblue;
$darkcolors:black,red,darkred,darkorange, darkgreen,green,darkblue, blue, purple,brown, gray ;

*[class^=btn]{
    display: inline-block;
    background-color: yellow; color: black;
    font-weight: 900;
    padding: 0.6em 1em;
    filter: brightness(0.7);
}

*[class^=btn]:hover{
    transition: all 500ms ease-in;
    filter: brightness(1);
}

@each $light in $lightcolors {
    .btn-#{$light}{
        background-color: $light;
        color:black;
        filter: shadow(0.5);
    }
    
@each $dark in $darkcolors {
    .btn-#{$dark}{
        background-color: $dark;
        color:white;
    }
}
}
