.logo{
    text-align: right;
    flex-direction: row;
    }

@mixin menu{        
    nav{
        width:80%;
        ul{
            text-align:right;                
            li{
                display:inline-block;
                a{
                    display:block;
                    padding:1em;
                    text-decoration: none;
                    }
                }
            }
            li:hover a{
                color:yellow;
            }
            
        }
    }
}

@mixin ham{
        header{
            position: relative;
            #hamberger{
                width:3em; height: 3em;
                margin: 1em;
                position: absolute;
                
            .hamT,.hamM, .hamB{
                width: 2em; height: 0.2em;
                margin: 0.2em;
                background-color: yellow;
            }
        }
    
