.slide{
    width: 100%;
    height: calc(100vw / 16 * 5);
    overflow: hidden;
    position: relative;
    img{
        width: 100vw;
        position: absolute;
        transform: translate(100vw);
        z-index:0;
        animation: sliding 25s ease infinite;
    }
    img:nth-of-type(2){
        animation-delay: 5s;
    }
    img:nth-of-type(3){
        animation-delay: 10s;
    }
    img:nth-of-type(4){
        animation-delay: 15s;
    }
    img:nth-of-type(5){
        animation-delay: 20s;
    }
}

@keyframes sliding{
    4%{
        transform: translate(0);
        z-index:10 ;
    }
    20%{
        transform: translate(0);
        z-index:10 ;
    }
    24%{
        transform: translate(-100vw);
        z-index:0 ;
    }
}