html, body, div, ul, ol, li, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  vertical-align: bottom;
  font-family: sans-serif;
  text-align: justify;
}

.p-1 {
  padding: calc(1em*$p);
}

.p-2 {
  padding: calc(1em*$p);
}

.p-3 {
  padding: calc(1em*$p);
}

.p-4 {
  padding: calc(1em*$p);
}

.p-5 {
  padding: calc(1em*$p);
}

.p-6 {
  padding: calc(1em*$p);
}

.p-7 {
  padding: calc(1em*$p);
}

.p-8 {
  padding: calc(1em*$p);
}

.p-9 {
  padding: calc(1em*$p);
}

.p-10 {
  padding: calc(1em*$p);
}

.m-1 {
  margin: calc(1em*$m);
}

.m-2 {
  margin: calc(1em*$m);
}

.m-3 {
  margin: calc(1em*$m);
}

.m-4 {
  margin: calc(1em*$m);
}

.m-5 {
  margin: calc(1em*$m);
}

.m-6 {
  margin: calc(1em*$m);
}

.m-7 {
  margin: calc(1em*$m);
}

.m-8 {
  margin: calc(1em*$m);
}

.m-9 {
  margin: calc(1em*$m);
}

.m-10 {
  margin: calc(1em*$m);
}

.textcolor-black {
  color: black;
}

.textcolor-white {
  color: white;
}

.textcolor-red {
  color: red;
}

.textcolor-darkred {
  color: darkred;
}

.textcolor-pink {
  color: pink;
}

.textcolor-orange {
  color: orange;
}

.textcolor-darkorange {
  color: darkorange;
}

.textcolor-lightyellow {
  color: lightyellow;
}

.textcolor-yellow {
  color: yellow;
}

.textcolor-lightgreen {
  color: lightgreen;
}

.textcolor-green {
  color: green;
}

.textcolor-darkgreen {
  color: darkgreen;
}

.textcolor-lightblue {
  color: lightblue;
}

.textcolor-blue {
  color: blue;
}

.textcolor-darkblue {
  color: darkblue;
}

.textcolor-purple {
  color: purple;
}

.textcolor-brown {
  color: brown;
}

.textcolor-gray {
  color: gray;
}

.bgcolor-black {
  background-color: black;
}

.bgcolor-white {
  background-color: white;
}

.bgcolor-red {
  background-color: red;
}

.bgcolor-darkred {
  background-color: darkred;
}

.bgcolor-pink {
  background-color: pink;
}

.bgcolor-orange {
  background-color: orange;
}

.bgcolor-darkorange {
  background-color: darkorange;
}

.bgcolor-lightyellow {
  background-color: lightyellow;
}

.bgcolor-yellow {
  background-color: yellow;
}

.bgcolor-lightgreen {
  background-color: lightgreen;
}

.bgcolor-green {
  background-color: green;
}

.bgcolor-darkgreen {
  background-color: darkgreen;
}

.bgcolor-lightblue {
  background-color: lightblue;
}

.bgcolor-blue {
  background-color: blue;
}

.bgcolor-darkblue {
  background-color: darkblue;
}

.bgcolor-purple {
  background-color: purple;
}

.bgcolor-brown {
  background-color: brown;
}

.bgcolor-gray {
  background-color: gray;
}

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide {
  width: 100%;
  height: calc(100vw / 16 * 5);
  overflow: hidden;
  position: relative;
}

.slide img {
  width: 100vw;
  position: absolute;
  -webkit-transform: translate(100vw);
          transform: translate(100vw);
  z-index: 0;
  -webkit-animation: sliding 25s ease infinite;
          animation: sliding 25s ease infinite;
}

.slide img:nth-of-type(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slide img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slide img:nth-of-type(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slide img:nth-of-type(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes sliding {
  4% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10;
  }
  20% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10;
  }
  24% {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
    z-index: 0;
  }
}

@keyframes sliding {
  4% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10;
  }
  20% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10;
  }
  24% {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
    z-index: 0;
  }
}

.logo {
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#ham {
  width: 3em;
  height: 3em;
  margin: 1em;
}

#ham .hamT, #ham .hamM, #ham .hamB {
  width: 2em;
  height: 0.2em;
  margin: 0.2em;
  background-color: yellow;
}

*[class^=btn] {
  display: inline-block;
  background-color: yellow;
  color: black;
  font-weight: 900;
  padding: 0.6em 1em;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

*[class^=btn]:hover {
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.btn-white {
  background-color: white;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-pink {
  background-color: pink;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-orange {
  background-color: orange;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-lightyellow {
  background-color: lightyellow;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-yellow {
  background-color: yellow;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-lightgreen {
  background-color: lightgreen;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

.btn-lightblue {
  background-color: lightblue;
  color: black;
  -webkit-filter: shadow(0.5);
          filter: shadow(0.5);
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-darkred {
  background-color: darkred;
  color: white;
}

.btn-darkorange {
  background-color: darkorange;
  color: white;
}

.btn-darkgreen {
  background-color: darkgreen;
  color: white;
}

.btn-green {
  background-color: green;
  color: white;
}

.btn-darkblue {
  background-color: darkblue;
  color: white;
}

.btn-blue {
  background-color: blue;
  color: white;
}

.btn-purple {
  background-color: purple;
  color: white;
}

.btn-brown {
  background-color: brown;
  color: white;
}

.btn-gray {
  background-color: gray;
  color: white;
}

@media only screen and (min-width: 320px) {
  .grid-1 {
    width: 100%;
    padding: 2em;
  }
  .grid-2 {
    width: 100%;
    padding: 2em;
  }
  .grid-3 {
    width: 100%;
    padding: 2em;
  }
  .grid-4 {
    width: 100%;
    padding: 2em;
  }
  .grid-5 {
    width: 100%;
    padding: 2em;
  }
  .grid-6 {
    width: 100%;
    padding: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .grid-2 {
    width: calc(100% / 2);
    padding: 2em;
  }
  .grid-3 {
    width: calc(100% / 2);
    padding: 2em;
  }
  .grid-4 {
    width: calc(100% / 2);
    padding: 2em;
  }
  .grid-5 {
    width: calc(100% / 2);
    padding: 2em;
  }
  .grid-6 {
    width: calc(100% / 2);
    padding: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-3 {
    width: calc(100% / 3);
    padding: 2em;
  }
  .grid-4 {
    width: calc(100% / 3);
    padding: 2em;
  }
  .grid-5 {
    width: calc(100% / 3);
    padding: 2em;
  }
  .grid-6 {
    width: calc(100% / 3);
    padding: 2em;
  }
}

@media only screen and (min-width: 1366px) {
  .grid-4 {
    width: calc(100% / 4);
  }
  .grid-5 {
    width: calc(100% / 5);
  }
  .grid-6 {
    width: calc(100% / 6);
  }
}

@media only screen and (min-width: 1440px) {
  .grid-6 {
    width: calc( 100% / 4);
  }
}
/*# sourceMappingURL=style.css.map */